<!-- Top Nav Bar  -->
<nav>
	<a>CIMDB</em></a>

	<a href="/">Home</a>
	<a href="/workorders">Work Orders</a>
	<a href="/products">Products</a>
	<a href="/inventory">Inventory</a>
	<a href="/user_management">User Management</a>

	<a href="logout">Log Out</a>

</nav>


<!-- Internal custom CSS -->
<!-- Can't link directly to static/css/main.css using templates, have to use url_for instead -->
{% block head %}
{% endblock %}

<!-- Body goes here -->
{% block body %}
{% endblock %}

<!-- Inherit from base template -->
{% include 'base.html' %}
