<!-- base_logged_in.html -->

<!-- Base template for html on logged in pages -->

{% block head %}
{% endblock %}

<!-- top menu for all pages -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/landing">2Fast4U - {{user_first_name}} {{user_last_name}}</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="/workorders">Work Orders</a>
              <a class="nav-link" href="/assembly">Assembly</a>
              <a class="nav-link" href="/qc">QC</a>
              <a class="nav-link" href="/shipping">Shipping</a>
              <a class="nav-link" href="/inventory">Inventory</a>
              <a class="nav-link" href="/locations">Locations</a>
              <a class="nav-link" href="/management">Employee and Site Management</a>
              <a class="nav-link" href="/logout">Logout</a>
            </div>
          </div>
        </div>
      </nav>


<!-- Inherit from base template -->
{% include 'base.html' %}

{% block body %}

<!-- Add jquery to handle Modal buttons -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
{% endblock %}

<div class="footer">
	<h5>Cats Inventory and Manufacturing Database</h5>
	<h6>CS340 Final Project | Winter 2021</h6>
</div>