<!-- Links to 'base_anon.html' as a base template file (which inherits from the base.html) -->
{% extends 'base_anon.html' %}

<!-- Jinja2 Template Block for Head of Webpage -->
{% block head %}

{% endblock %}

<!-- Jinja2 Template Block for Body of Webpage -->
{% block body %}

<!-- Navigation bar -->
<div>
</div>

<div class="content">
	
    <h1>Welcome to the 2Fast4U Computer Inventory Management Database!</h1>

    <p>2Fast4U Computers assembles and sells $2 million in PCs annually (on average 1,500 PCs assembled per year). The Computer Inventory and Manufacturing (CIM) web app helps manage our inventory, assembly, and quality control (QC) process. All 2Fast4U Employees at our production Sites have access to the database. Employees are assigned Work Orders, which list Products to assemble using Regular Components (which are available in large quantities like MotherBoard, RAM, etc.) and Special Components (CPUs, which must be tracked using unique serial numbers). Regular Components and Special Components are stored in Locations at any particular Site until they are used to assemble Products. Once each Product has been assembled and QC’d, the Work Order can be closed.</p>

    <p>Please sign in to continue.</p>
	<form action='login' method='POST'>
		<input type='text' name='email' id='email' placeholder='email'/>
		<input type='password' name='password' id='password' placeholder='password'/>
		<input type='submit' name='submit'/>
	</form>

</div>
{% endblock %}