<!-- Links to 'base_standard_layout.html' as a base template file (which inherits from the base_logged_in.html and base.html) -->
{% extends 'base_standard_layout.html' %}

<!-- Jinja2 Template Block for Head of Webpage -->
{% block head %}

{% endblock %}

<!-- Jinja2 Template Block for Body of Webpage -->
{% block body %}

<!-- Overall Page Title -->
{% block page_header %}
Inventory - CPUs (Special Components)
{% endblock %}

<!-- Page Description -->
{% block page_description %}
<p>Each CPU is a special component with a unique serial number, and can only be stored in a single location at a single site.</p>
<p>A special component is considered 'free' if it has not yet been assigned to be assembled into a particular product.</p>
{% endblock %}

<!-- Header for Create New section -->
{% block create_header %}
Order New CPUs (Special Components)
{% endblock %}

<!-- Description for Create New section -->
{% block create_description %}
If new CPUs (special components with unique serial numbers) need to be added to the inventory, use this form. Newly added CPUs will have unique serial numbers generated upon creation. Note that all ordered components will be placed in the Receiving Department (Room 0, Shelf 0) at the selected site.
{% endblock %}

<!-- Form for Create New section -->
{% block create_form %}
<form id="add-special-components" action="" method="POST">

	<div class="inner-div text-center">

		<!-- <label for="new_spec_comp_part_number">Part Number: </label>
		<input type="number" min="10000" max="99998" class='m-1' name="new_spec_comp_part_number" id="new_spec_comp_part_number" placeholder="12345" required>
 -->
		<select class="custom-select m-1" id="new_spec_comp_part_number" name="new_spec_comp_part_number" required>
			<optgroup label="CPU Type: ">
			{% for sc_category in special_components_catalog.CPU %}
			<option>{{sc_category}}</option>
			{% endfor %}
			</optgroup>
		</select>

		<select class="custom-select m-1" id="new_spec_comp_site" name="new_spec_comp_site" required>
			<option selected>Select Site: </option>
			{% for site in sites %}
			<option value={{site.site_id}}>{{site.site_address_city}}</option>
			{% endfor %}
		</select>

		<label for="new_reg_comp_quantity">Order Quantity: </label>
		<input type="number" min="1" max="50" class='m-1' name="new_spec_comp_quantity" id="new_spec_comp_quantity" placeholder="#" required>

		<input type="submit" class="btn-sm btn-success m-1" id="btnAddSpecComp" name="btnAddSpecComp" value="Order New Special Components">
	</div>

</form>
{% endblock %}

<!-- Header for Filter section -->
{% block filter_header %}
Filter Existing CPUs (Special Components)
{% endblock %}

<!-- Description for Filter section -->
{% block filter_description %}
Note that each shelf in each room can store multiple special components, each with a unique serial number.
{% endblock %}

<!-- Form for Filter section -->
{% block filter_form %}
<form id="existing-spec-comp-data-filter" action="">

	<div class="text-center">

		<label for="existing_spec_comp_serial_number">Serial Number: </label>
		<input type="number" min="1000000000" max="9999999998" class='m-1' name="existing_spec_comp_serial_number" id="existing_spec_comp_serial_number" placeholder="1234567890">	

		<!-- TODO: update to CPU type -->
		<label for="existing_spec_comp_part_number">Part Number: </label>
		<input type="number" min="10000" max="99998" class='m-1' name="existing_reg_comp_part_number" id="existing_spec_comp_part_number" placeholder="12345">		

		<select class="custom-select m-1" id="existing_reg_comp_site">
			<option selected>Select Site: </option>
			{% for site in sites %}
			<option>{{site.site_address_name}}</option>
			{% endfor %}
		</select>

		<label for="existing_spec_comp_room_number">Room Number: </label>
		<input type="number" min="0" max="99" class='m-1' name="existing_spec_comp_room_number" id="existing_spec_comp_room_number" placeholder="99">

		<label for="existing_spec_comp_shelf_number">Shelf Number: </label>
		<input type="number" min="0" max="99" class='m-1' name="existing_spec_comp_shelf_number" id="existing_spec_comp_shelf_number" placeholder="99">

		<label for="sc_is_free">Is Free: </label>
		<input type="checkbox" name="sc_is_free" id="sc_is_free">

		<input type="button" class="btn-sm btn-primary m-1" value="Filter" onclick=filterData() >
		<input type="button" class="btn-sm btn-primary m-1" value="Clear Filters" onclick=clearFilters() >


	</div>

</form>
{% endblock %}

<!-- Main results table -->
{% block table_contents %}
<table class="table table-striped " >
<tr >
	<th>CPU Serial Number</th>
	<th>Part Number</th>
	<th>Is Free</th>
	<th>Site / Location</th>
	<th>Edit Details</th>
	<th>Delete</th>
</tr>
{% for special_component in special_components %}
<tr>
	<td>{{special_component.sc_sn}}</td>
	<td>{{special_component.sc_pn}}</td>
	<td>{% if special_component.sc_free %} Yes {% else %} No {% endif %}</td>
	<td>{{special_component.sc_site_city}} / Room {{special_component.sc_room}}, Shelf {{special_component.sc_shelf}}</td>

	<!-- <th><button class="btn-sm btn-warning">Edit</button></th> -->
	<th><button type="button" 
		class="btn-sm btn-warning" 
		data-toggle="modal" 
		data-target="#editSpecialComponent" 
		data-spec-comp-part-number="{{special_component.sc_pn}}"
		data-spec-comp-site-name="{{special_component.sc_site_city}}" 
		data-spec-comp-room-number="{{special_component.sc_room}}" 
		data-spec-comp-shelf-number="{{special_component.sc_shelf}}" 
		data-spec-comp-is-free="{{special_component.sc_free}}" 
		data-title="Edit Special Component ID {{special_component.sc_sn}}">Edit</button></th>

		<td><button class="btn-sm btn-danger">Delete</button></td>
	</tr>
	{% endfor %}
{% endblock %}

<!-- Page-specific modals -->
{% block page_modals %}
<!-- Modal popup for special component Edit feature -->
<div id="editSpecialComponent" class="modal fade" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<form method="POST">
				<div class="modal-header">
					<h5 class="modal-title">Modal Window</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">  

					<input type="hidden" id="site-id-to-edit" name="sc-id-to-edit" value="">   

					<div class="form-group p-1">
						<label class="control-label" >Part Number:</label>
							<select class="custom-select m-1" id="spec-comp-edit-part-number" name="spec-comp-edit-part-number" required>
								<optgroup label="CPU Type: ">
								{% for sc_category in special_components_catalog.CPU %}
								<option>{{sc_category}}</option>
								{% endfor %}
								</optgroup>
							</select>
					</div>

					<!-- <div class="form-group p-1">
						<label class="control-label" >Part Number:</label>
						<input type="number" min="0" max="999" id="spec-comp-edit-part-number" class="form-control" placeholder="123456" required>
					</div>  -->

					<div class="form-group p-1">
						<label class="control-label" >Site:</label>
						<select class="custom-select" id="spec-comp-edit-site" name="spec-comp-edit-site"  required>
							<optgroup label="Select Site: ">
							{% for site in sites %}
							<option>{{site.site_address_city}}</option>
							{% endfor %}
							</optgroup>
						</select>
					</div>                    	

					<div class="form-group p-1">
						<label class="control-label" >Room Number:</label>
						<input type="number" min="0" max="999" id="spec-comp-edit-room-number" name="spec-comp-edit-room-number" class="form-control"  required>
					</div>   

					<div class="form-group p-1">
						<label class="control-label" >Shelf Number:</label>
						<input type="number" min="0" max="999" id="spec-comp-edit-shelf-number" name="spec-comp-edit-shelf-number" class="form-control" required>
					</div>  

					<div class="custom-control custom-checkbox">
						<label class="custom-control-label" for="defaultUnchecked">Is Free:  </label>
						<input type="checkbox" class="custom-control-input ml-2" id="spec-comp-edit-is-free" name="spec-comp-edit-is-free" checked/>

					</div>
					
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-primary" id="btnSpecCompUpdate" name="btnSpecCompUpdate">Update</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}

<!-- Page-specific scripts -->
{% block page_scripts %}
<!-- Connect to jquery (first) in order to open modals -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<script src="{{ url_for('static', filename='js/inventory_special_component.js') }}"></script>
{% endblock %}


{% endblock %}

