<!-- Links to 'base_anon.html' as a base template file (which inherits from the base.html) -->
{% extends 'base_logged_in.html' %}

<!-- Jinja2 Template Block for Head of Webpage -->
{% block head %}

{% endblock %}

<!-- Jinja2 Template Block for Body of Webpage -->
{% block body %}

<!-- Navigation bar -->
<div>
</div>

<div class="content">
	
    <h1>Welcome CS Cats, to the CIMDB!</h1>
    <p>This is the Inventory page</p>

<table style="width:100%">
	<h5>Stock: Serialized Components</h5>
	<tr>
		<th>Part Number</th>
		<th>Category</th>
		<th>Quantity</th>
		<th>Location</th>
	</tr>
	{% for special_component in special_components %}
	<tr>
		<td>{{special_component.sc_sn}}</td>
		<td>{{special_component.sc_pn}}</td>
		<td>{{special_component.sc_is_free}}</td>
		<td>
			Site {{special_component.sc_location.location_site_id}}, Room {{special_component.sc_location.location_room_number}}, Shelf {{special_component.sc_location.location_shelf_number}}
		</td>
	</tr>
	{% endfor %}
</table>

<table style="width:100%">
	<h5>Stock: Standard Components</h5>
	<tr>
		<th>Part Number</th>
		<th>Category</th>
		<th>Quantity</th>
		<th>Location(s)</th>
	</tr>
	{% for regular_component in regular_components %}
	<tr>
		<td>{{regular_component.rc_pn}}</td>
		<td>{{regular_component.rc_category}}</td>
		<td>{{regular_component.rc_quantity}}</td>
		<td>
			{% for location in regular_component.rc_locations %}
				<ul>Site {{location.location_site_id}}, Room {{location.location_room_number}}, Shelf {{location.location_shelf_number}}</ul>
			{% endfor %}
		</td>
	</tr>
	{% endfor %}
</table>



</div>
{% endblock %}