<!-- Links to 'base_anon.html' as a base template file (which inherits from the base.html) -->
{% extends 'base_logged_in.html' %}

<!-- Jinja2 Template Block for Head of Webpage -->
{% block head %}

{% endblock %}

<!-- Jinja2 Template Block for Body of Webpage -->
{% block body %}

<!-- Navigation bar -->
<div>
</div>

<div class="content">
	<div class="container">
	  <div class="row">
	  	<h5>Stock: Special Components</h5>

	  	<!-- Upper Left Quadrant: Special Component Filtering -->
	    <div class="col">
	      

	    	<div id="data-filtering">

				<form id="sc-data-filter" action="">

					<div class="form-group row">
						<label for="sc_sn" class="col-sm-2 col-form-label">Serial Number:</label>
						<div class="col-sm-10">
							<input type="text" name="sc_sn" id="sc_sn" placeholder="1234567890">
						</div>
					</div>

					<div class="form-group row">
						<label for="sc_pn" class="col-sm-2 col-form-label">Part Number: </label>
						<div class="col-sm-10">
							<input type="text" name="sc_pn" id="sc_pn" placeholder="wo_id">
						</div>
					</div>

					<div class="form-group row">
						<label for="sc_is_free" class="col-sm-2 col-form-label">Is Free: </label>
						<div class="col-sm-10">
							<input type="checkbox" name="sc_is_free" id="sc_is_free">
						</div>
					</div>

					<div class="form-group row">
						<label for="sc_site" class="col-sm-2 col-form-label">Site: </label>
						<div class="col-sm-10">
							<input type="text" name="sc_site" id="sc_site" placeholder="wo_id">
						</div>
					</div>

					<div class="form-group row">
						<label for="sc_room" class="col-sm-2 col-form-label">Room: </label>
						<div class="col-sm-10">
							<input type="text" name="sc_room" id="sc_room" placeholder="wo_id">
						</div>
					</div>

					<div class="form-group row">
						<label for="sc_shelf" class="col-sm-2 col-form-label">Shelf: </label>
						<div class="col-sm-10">
							<input type="text" name="sc_shelf" id="sc_shelf" placeholder="wo_id">
						</div>
					</div>
					</div>
				
					<div class="inner-div">
						<input type="button" class="btn btn-primary" value="Filter" onclick=addData() >
					</div>
				</form>
			</div>

	    </div>
	    
	    <!-- Upper Right Quadrant: Special Component Results -->
	    <div class="col">
	    	
	    	<div id="results">
				<table class="table table-striped">
					<tr>
						<th>Serial Number</th>
						<th>Part Number</th>
						<th>Is Free</th>
						<th>Location</th>
						</tr>
						{% for special_component in special_components %}
							<tr>
								<td>{{special_component.sc_sn}}</td>
								<td>{{special_component.sc_pn}}</td>
								<td>{{special_component.sc_is_free}}</td>
								<td>
									Site {{special_component.sc_location.location_site_id}}, Room {{special_component.sc_location.location_room_number}}, Shelf {{special_component.sc_location.location_shelf_number}}
								</td>
						</tr>
					{% endfor %}
				</table>
			</div>

	    </div>

	  </div>
	  <div class="row">
	  	<h5>Stock: Regular Components</h5>
	    
	  	<!-- Lower Left Quadrant: Regular Component Filtering -->
	    <div class="col">
	      1 of 3
	    </div>
	    
	    <!-- Lower Right Quadrant: Regular Component Results -->
	    <div class="col">
	    	
	    	<div id="results">
				<table class="table table-striped">
					<tr>
						<th>Part Number</th>
						<th>Category</th>
						<th>Quantity</th>
						<th>Location(s)</th>
					</tr>
					{% for regular_component in regular_components %}
					<tr>
						<td>{{regular_component.rc_pn}}</td>
						<td>{{regular_component.rc_category}}</td>
						<td>{{regular_component.rc_quantity}}</td>
						<td>
							<ul>
								{% for location in regular_component.rc_locations %}
									<li>Site {{location.location_site_id}}, Room {{location.location_room_number}}, Shelf {{location.location_shelf_number}}</li>
								{% endfor %}
							</ul>
						</td>
					</tr>
					{% endfor %}
				</table>
			</div>

	    </div>

	  </div>
	</div>
</div>




</div>
{% endblock %}