<!-- Links to 'base_standard_layout.html' as a base template file (which inherits from the base_logged_in.html and base.html) -->
{% extends 'base_standard_layout.html' %}

<!-- Jinja2 Template Block for Head of Webpage -->
{% block head %}

{% endblock %}

<!-- Jinja2 Template Block for Body of Webpage -->
{% block body %}

<!-- Overall Page Title -->
{% block page_header %}
Inventory - Regular Components
{% endblock %}

<!-- Page Description -->
{% block page_description %}
<p>Regular components do not have unique serial numbers and can be stored in multiple locations at each site.</p>
<p>Note that new orders of existing components will be placed in the Receiving Department (Room 0, Shelf 0) of the selected site.</p>
{% endblock %}

<!-- Header for Create New section -->
{% block create_header %}
Order New Regular Components
{% endblock %}

<!-- Description for Create New section -->
{% block create_description %}
If a new regular component (non-CPU/non unique) needs to be ordered and added to the inventory, use this form. Note that all ordered components will be placed in the Receiving Department (Room 0, Shelf 0) at the selected site.
{% endblock %}

<!-- Form for Create New section -->
{% block create_form %}
<form id="add-special-components" action="">

	<div class="inner-div text-center">

		<label for="new_reg_comp_part_number">Part Number: </label>
		<input type="number" min="10000" max="99998" class='m-1' name="new_reg_comp_part_number" id="new_reg_comp_part_number" placeholder="12345" required>

		<select class="custom-select m-1" id="new_category" required>
			<option selected>Select Category: </option>
			<option>Case</option>
		    <option>Graphics Card (GC)</option>
		    <option>Hard Drive Disk (HDD)</option>
		    <option>Motherboard (MB)</option>
		    <option>RAM</option>
		</select>

		<select class="custom-select m-1" id="new_reg_comp_site" required>
			<option selected>Select Site: </option>
			{% for site in sites %}
			<option>{{site.site_name}}</option>
			{% endfor %}
		</select>

		<label for="new_reg_comp_quantity">Order Quantity: </label>
		<input type="number" min="1" max="50" class='m-1' name="new_reg_comp_quantity" id="new_reg_comp_quantity" placeholder="#" required>

		<input type="button" class="btn-sm btn-success m-1" value="Order New Regular Components" onclick=addData() >
	</div>

</form>
{% endblock %}

<!-- Header for Filter section -->
{% block filter_header %}
Filter Existing Regular Components
{% endblock %}

<!-- Description for Filter section -->
{% block filter_description %}
Note that each shelf in each room can store multiple regular components regardless of category or part number.
{% endblock %}

<!-- Form for Filter section -->
{% block filter_form %}
<form id="existing-reg-comp-data-filter" action="">

	<div class="text-center">

		<select class="custom-select m-1" id="new_category" required>
			<option selected>Select Category: </option>
			<option>Case</option>
		    <option>Graphics Card (GC)</option>
		    <option>Hard Drive Disk (HDD)</option>
		    <option>Motherboard (MB)</option>
		    <option>RAM</option>
		</select>	

		<label for="existing_reg_comp_part_number">Part Number: </label>
		<input type="number" min="10000" max="99998" class='m-1' name="existing_reg_comp_part_number" id="existing_reg_comp_part_number" placeholder="12345">		

		<select class="custom-select m-1" id="existing_reg_comp_site">
			<option selected>Select Site: </option>
			{% for site in sites %}
			<option>{{site.site_name}}</option>
			{% endfor %}
		</select>

		<label for="existing_reg_comp_room_number">Room Number: </label>
		<input type="number" min="0" max="99" class='m-1' name="existing_reg_comp_room_number" id="existing_reg_comp_room_number" placeholder="99">

		<label for="existing_reg_comp_shelf_number">Shelf Number: </label>
		<input type="number" min="0" max="99" class='m-1' name="existing_reg_comp_shelf_number" id="existing_reg_comp_shelf_number" placeholder="99">

		<input type="button" class="btn-sm btn-primary m-1" value="Filter" onclick=filterData() >
		<input type="button" class="btn-sm btn-primary m-1" value="Clear Filters" onclick=clearFilters() >


	</div>

</form>
{% endblock %}

<!-- Main results table -->
{% block table_contents %}
{% for regular_component in regular_components %}
<div class="row">
		<div class="col text-center border-top"> 
			Part Number: <strong>{{regular_component.rc_pn}}</strong> - Category: <strong>{{regular_component.rc_category}}</strong>
		</div>

	</div>

<div class="row ml-5 mr-5">

	<div class="col d-flex flex-row ml-5">
		<p class="mt-2">Order more of component {{regular_component.rc_pn}}: </p>
		<div>
				<select class="custom-select mt-2 pl-2" id="new_rc_site" required>
				<option selected>Select Site: </option>
				{% for site in sites %}
				<option>{{site.site_name}}</option>
				{% endfor %}
				</select>
			</div>

			<div >
				<select class="custom-select mt-2" id="new_rc_site" required>
				<option selected>Select Quantity: </option>
				<option>10</option>
				<option>25</option>
				<option>50</option>
				<option>100</option>
				</select>
			</div>

			<div><button class="btn-sm btn-info m-1">Order More</button></div>
	</div>

	<div class="col d-flex flex-row-reverse"> 
			<button class="btn-sm btn-danger">Delete All Component {{regular_component.rc_pn}}</button>

		<button type="button" 
			class="btn-sm btn-warning text-right" 
			data-toggle="modal" 
			data-target="#editRegularComponent" 
			data-reg-comp-part-number="{{regular_component.rc_pn}}"
			data-reg-comp-category="{{regular_component.rc_category}}"
			data-title="Edit Quantity of Part Number {{regular_component.rc_pn}}">Edit Details for Component {{regular_component.rc_pn}}</button>

	</div>
	</div>

	<div class="row ml-5 mr-5">
		
<table class="table table-striped ml-5 mr-5">
	<tr>
		<th>Site</th>
		<th>Location</th>
		<th>Quantity</th>
		<th>Edit Quantity</th>
		<th>Delete from Location</th>
	</tr>
	{% for location in regular_component.rc_locations %}
	<tr>
		<td>{% for site in sites %}{% if site.site_id == location.location_site_id %}{{site.site_name}}{% endif %}{% endfor %}</td>
		<td>Room {{location.location_room_number}}, Shelf {{location.location_shelf_number}}</td>
		<td>{{location.quantity_at_location}}</td>
		
		<th><button type="button" 
			class="btn-sm btn-warning text-right" 
			data-toggle="modal" 
			data-target="#editRegularComponentQuantity" 
			data-reg-comp-part-number="{{regular_component.rc_pn}}"
			data-reg-comp-category="{{regular_component.rc_category}}"
			data-reg-comp-site-name="{% for site in sites %}{% if location.location_site_id == site.site_id%}{{site.site_name}}{% endif %}{% endfor %}" 
			data-reg-comp-room-number="{{location.location_room_number}}" 
			data-reg-comp-shelf-number="{{location.location_shelf_number}}" 
			data-reg-comp-quantity={{location.quantity_at_location}}
			data-title="Edit Quantity of Part Number {{regular_component.rc_pn}}">Edit</button></th>

		<td><button class="btn-sm btn-danger">Delete</button></td>
	</tr>
	{% endfor %}
</table>

	</div>


{% endfor %}

{% endblock %}



<!-- Page-specific modals -->
{% block page_modals %}
<!-- Modal popup for regular component quantity Edit feature -->
<div id="editRegularComponentQuantity" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <h5 class="modal-title">Modal Window</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">  

						<div class="form-group p-1">
                            <label class="control-label" >Quantity in <span id="reg-comp-edit-site"></span>, Room <span id="reg-comp-edit-room-number"></span>, Shelf <span id="reg-comp-edit-shelf-number"></span>:</label>
                            <input type="number" min="0" max="999" id="reg-comp-edit-quantity" class="form-control" required>
                        </div> 
					
					</div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


<!-- Modal popup for regular component details Edit feature -->
<div id="editRegularComponentQuantity" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <h5 class="modal-title">Modal Window</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">  

						<div class="form-group p-1">
                            <label class="control-label" >Part Number:</label>
                            <input type="number" min="0" max="999" id="spec-comp-edit-part-number" class="form-control"  required>
                        </div>

                        <div class="form-group p-1">
                            <label class="control-label" >Part Category:</label>
                            <input type="number" min="0" max="999" id="spec-comp-edit-part-number" class="form-control"  required>
                        </div> 
					
					</div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

<!-- Page-specific scripts -->
{% block page_scripts %}
<script>
$(document).ready(function(){
    $("#editRegularComponent").on("show.bs.modal", function(event){
        // Get the button that triggered the modal
        var button = $(event.relatedTarget);

        // Extract value from the custom data-* attribute
        var titleData = button.data("title");
        $(this).find(".modal-title").text(titleData);

        var partNumberData = parseInt(button.data("reg-comp-part-number"));
        $(this).find("#reg-comp-edit-part-number").html(partNumberData);

        var siteNameData = button.data("reg-comp-site-name");        
        $(this).find("#reg-comp-edit-site").html(siteNameData);

        var roomNumberData = parseInt(button.data("reg-comp-room-number"));
        $(this).find("#reg-comp-edit-room-number").html(roomNumberData);

        var shelfNumberData = parseInt(button.data("reg-comp-shelf-number"));
        $(this).find("#reg-comp-edit-shelf-number").html(shelfNumberData);

        var regularComponentQuantityData = button.data("reg-comp-quantity");        
        $(this).find("#reg-comp-edit-quantity").val(regularComponentQuantityData);
    });
});
</script>

{% endblock %}


{% endblock %}


