<!-- Links to 'base_standard_layout.html' as a base template file (which inherits from the base_logged_in.html and base.html) -->
{% extends 'base_standard_layout.html' %}

<!-- Jinja2 Template Block for Head of Webpage -->
{% block head %}

{% endblock %}

<!-- Jinja2 Template Block for Body of Webpage -->
{% block body %}

<!-- Overall Page Title -->
{% block page_header %}
Inventory - Regular Components
{% endblock %}

<!-- Page Description -->
{% block page_description %}
<p>Regular components are any components that are not CPUs. They <strong>do not have unique serial numbers</strong> and can be stored in <strong>multiple locations</strong> at each site. Each shelf in each room can store multiple regular components regardless of category or part number.</p>
{% endblock %}

<!-- Header for Create New section -->
{% block create_header %}

{% endblock %}

<!-- Description for Create New section -->
{% block create_description %}
<h6>Order New Regular Components</h6> 
To add new regular components to the inventory, use this form.
{% endblock %}

<!-- Form for Create New section -->
{% block create_form %}
<form id="add-regular-components" action="" method="POST">

	<div class="text-center">

		<label for="new_reg_comp_part_number">Part Number: </label>
		<input type="text" class='m-1 p-1' name="new_reg_comp_part_description" id="new_reg_comp_part_description" placeholder="HDD 12 (ex)" required>

		<select class="custom-select m-1" id="new_reg_comp_part_category" name="new_reg_comp_part_category" required>
			<option value="" selected disabled hidden >Select Component Category: </option>
			<option value='Case'>Case</option>
			<option value='GC'>Graphics Card (GC)</option>
			<option value='HDD'>Hard Drive Disk (HDD)</option>
			<option value='MB'>Motherboard (MB)</option>
			<option value='RAM'>RAM</option>
		</select>

		<select class="custom-select m-1 p-1" id="new_reg_comp_part_site_id" name="new_reg_comp_part_site_id" value="new_reg_comp_part_site_id" required>
			<option selected>Select Site: </option>
			{% for site in sites %}
			<option value={{site.site_id}}>{{site.site_address_city}}</option>
			{% endfor %}
		</select>

		<label for="new_reg_comp_quantity">Order Quantity: </label>
		<input type="number" min="1" max="50" class='m-1 p-1' name="new_reg_comp_part_quantity" id="new_reg_comp_part_quantity" placeholder="#" required>

		<input type="submit" class="btn-sm btn-success m-1 p-1" data-toggle="tooltip" data-placement="auto" 
		title="All ordered components will be placed in the Receiving Department (Room 1) at the selected site." 
		name="btnAddRegComp" id="btnAddRegComp" value="Order New Regular Components" >
	</div>

</form>
{% endblock %}

<!-- Header for Filter section -->
{% block filter_header %}
<!-- Filter Existing Regular Components -->
{% endblock %}

<!-- Description for Filter section -->
{% block filter_description %}

{% endblock %}

<!-- Form for Filter section -->
{% block filter_form %}

{% endblock %}

<!-- Main results table -->
{% block table_contents %}

<div class="m-5">

	{% for regular_component in regular_components %}

		<!-- don't select 'no graphics card' as a location -->
		{% if regular_component.rc_pn != 200 %} 
			<div class="row">
				<div class="col text-center border-top p-1"> 
					Part Number: <strong>{{regular_component.rc_pn_desc}}</strong> - Category: <strong>{{regular_component.rc_category}}</strong>
				</div>

			</div>

<!-- 			<div class="row ml-5 mr-5">

				<div class="col d-flex flex-row-reverse"> 
					<button class="btn-sm btn-danger">Delete All {{regular_component.rc_pn_desc}}</button>

					<button type="button" 
					class="btn-sm btn-warning text-right" 
					data-toggle="modal" 
					data-target="#editRegularComponent" 
					data-reg-comp-part-number="{{regular_component.rc_pn}}"
					data-reg-comp-category="{{regular_component.rc_category}}"
					data-title="Edit Details for Part Number {{regular_component.rc_pn}}">Edit Details for {{regular_component.rc_pn_desc}}</button>

				</div>
			</div> -->

			<div class="row ml-5 mr-5">

				{% if regular_component.TotalQuantity > 0 %}

				<table class="table table-striped ml-5 mr-5">
					<tr>
						<th>Site/Location</th>
						<th>Quantity</th>
						<th>Edit Quantity</th>
						<!-- <th>Delete from Location</th> -->
					</tr>

					{% for location in reg_comp_locations %}
						{% if (location.PartNumber==regular_component.rc_pn) and (location.SiteCity != 'Customer') and (location.Quantity > 0) %}
					<tr>
						<td>{{location.SiteCity}}/Room {{location.RoomNumber}}, Shelf {{location.ShelfNumber}}</td>
						<td>{{location.Quantity}}</td>

						<td><button type="button" 
							class="btn-sm btn-warning text-right" 
							data-toggle="modal" 
							data-target="#editRegularComponentQuantity" 
							data-reg-comp-id-to-edit="{{regular_component.rc_pn}}"
							data-reg-comp-part-number="{{regular_component.rc_pn_desc}}" 
							data-reg-comp-quantity={{location.Quantity}}

							data-location-id-to-edit="{{location.LocationId}}"

							data-reg-comp-category="{{regular_component.rc_category}}"
							data-reg-comp-site-name="{{location.SiteCity}}" 

							data-reg-comp-room-number="{{location.RoomNumber}}" 
							data-reg-comp-shelf-number="{{location.ShelfNumber}}"

							data-title="Edit Quantity of {{regular_component.rc_pn_desc}}">Edit</button></td>

							<!-- <td><button class="btn-sm btn-danger">Delete</button></td> -->
					</tr>
						{% endif %}
					{% endfor %}


				</table>

				{% else %}
				<div class="text-danger text-center mb-5">{{regular_component.rc_pn_desc}} is currently out of stock in all Sites.</div>
				{% endif %}

			</div>

		{% endif %}
	{% endfor %}

	
</div>
{% endblock %}



	<!-- Page-specific modals -->
	{% block page_modals %}
	<!-- Modal popup for regular component quantity Edit feature -->
	<div id="editRegularComponentQuantity" class="modal fade" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<form method="POST">
					<div class="modal-header">
						<h5 class="modal-title">Modal Window</h5>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">  

						<input type="text" id="reg-comp-id-to-edit" name="reg-comp-id-to-edit" value="">
						<input type="text" id="location-id-to-edit" name="location-id-to-edit" value="">  

						<div class="form-group p-1">

							<label class="control-label" >Update component quantity?</label>
							<input type="number" min="0" max="999" id="reg-comp-edit-quantity" name="reg-comp-edit-quantity" class="form-control" required>
						</div> 

					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-primary" id='btnRegCompQuantityUpdate' name='btnRegCompQuantityUpdate'>Update</button>
					</div>
				</form>
			</div>
		</div>
	</div>


	<!-- Modal popup for regular component details Edit feature -->
	<div id="editRegularComponent" class="modal fade" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">
						<h5 class="modal-title">Modal Window</h5>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">  

						<div class="form-group p-1">
							<label class="control-label" >Part Number:</label>
							<input type="text" id="reg-comp-edit-part-number" class="form-control"  required>
						</div>

						<div class="form-group p-1">
							<label class="control-label" >Part Category:</label>
							<input type="text" id="reg-comp-edit-part-category" class="form-control"  required>
						</div> 

					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-primary">Update</button>
					</div>
				</form>
			</div>
		</div>
	</div>





<!-- Generated markup by the plugin -->
<div class="tooltip bs-tooltip-auto" role="tooltip">
	<div class="arrow"></div>
	<div class="tooltip-inner">
		Some tooltip text!
	</div>
</div>

{% endblock %}

<!-- Page-specific scripts -->
{% block page_scripts %}
<!-- Connect to jquery (first) in order to open modals -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<script src="{{ url_for('static', filename='js/inventory_regular_component.js') }}"></script>
{% endblock %}


{% endblock %}


