<!-- Links to 'base_logged_in.html' as a base template file (which inherits from the base.html) -->
{% extends 'base_logged_in.html' %}

<!-- Jinja2 Template Block for Head of Webpage -->
{% block head %}

{% endblock %}

<!-- Jinja2 Template Block for Body of Webpage -->
{% block body %}


<div class="w-100">
	<div class='text-center'><h4>Inventory - Special Components</h4></div>
  <div class="row">

    <div class="col-2 text-center">
      <!-- Special Components Filter -->
      <div class="text-center"><h6>Filter Special Components</h6></div>

      <div id="data-filtering">

		<form id="sc-data-filter" class="form-horizontal" action="">

			<div class="form-row">
				<div class="col-sm">
					<input type="text" name="sc_sn" id="sc_sn" placeholder="Serial Number">
				</div>
			</div>

			<div class="form-row">
				<div class="col-sm">
					<input type="text" name="sc_pn" id="sc_pn" placeholder="Part Number">
				</div>
			</div>

			<div class="form-row">
				<div class="col-sm">
					<input type="text" name="sc_site" id="sc_site" placeholder="Site: 99">
				</div>
			</div>

			<div class="form-row">
				<div class="col-sm">
					<input type="text" name="sc_room" id="sc_room" placeholder="Room: 99">
				</div>
			</div>

			<div class="form-row">
				<div class="col-sm">
					<input type="text" name="sc_shelf" id="sc_shelf" placeholder="Shelf: 99">
				</div>
			</div>

			<div class="form-row text-center">
				<label for="sc_is_free">Is Free: </label> <input type="checkbox" name="sc_is_free" id="sc_is_free">

			</div>
		
			<div class="inner-div">
				<input type="button" class="btn-sm btn-primary" value="Filter" onclick=addData() >
				<input type="button" class="btn-sm btn-primary" value="Clear Filters" onclick=clearFilters() >
			</div>
		</form>
	</div>

    </div>

    <div class="col-8">
      <!-- Special Components Results -->

      <div id="results">
				<table class="table table-striped">
					<tr>
						<th>Serial Number</th>
						<th>Part Number</th>
						<th>Is Free</th>
						<th>Site / Location</th>
						<th>Edit Component Details</th>
						<th>Delete</th>
						</tr>
						{% for special_component in special_components %}
							<tr>
								<td>{{special_component.sc_sn}}</td>
								<td>{{special_component.sc_pn}}</td>
								<td> {% if special_component.sc_is_free %} Yes {% else %} No {% endif %}</td>
								<td>
									{% for site in sites %}
										{% if site.site_id == special_component.sc_location.location_site_id %}
											{{site.site_name}}  
										{% endif %}
									{% endfor %}
									/ Room {{special_component.sc_location.location_room_number}}, Shelf {{special_component.sc_location.location_shelf_number}}
								</td>
								<td><button class="btn-sm btn-warning">Edit</button></td>
								<td><button class="btn-sm btn-danger">Delete</button></td>
						</tr>
					{% endfor %}
				</table>
			</div>

    </div>

    <div class="col-2 text-center">
      <!-- Special Components Add -->
      <div class="text-center"><h6>Order Special Components</h6></div>

		<div id="data-entry-div">	

			<form id="sc_entry" class="form-horizontal" action="">

				<div class="form-group row">
					<div class="inner-div">
						<label for="new_sc_pn">New Part Number: </label>
						<input type="number" name="new_sc_pn" id="new_sc_pn" min="10000" max="99998" placeholder="12345">
					</div>
				</div>

				<div class="form-group row">
					<div class="inner-div">
						<label for="new_sc_type">CPU Type: </label>
						<select name="new_sc_type" id="new_sc_type">
							<option value="Pro-i3">Pro-i3</option>
							<option value="Pro-i5">Pro-i5</option>
							<option value="Pro-i7">Pro-i7</option>
						</select>
					</div>
				</div>

				<div class="form-group row">
					<div class="inner-div">
						<label for="new_sc_quantity">Order Quantity: </label>
						<input type="number" name="new_sc_quantity" id="new_sc_quantity" min="1" max="50" placeholder="17">
					</div>
				</div>

				<div class="form-group row">
					<div class="inner-div">
						<select class="custom-select" id="new_sc_site" required>
							<option selected>Select Site: </option>
						    <option value=12>LA-12</option>
						    <option value=14>SF-14</option>
						    <option value=16>Reno-16</option>
						</select>
					</div>
				</div>

				<div class="inner-div">
					<input type="button" class="btn-sm btn-success" value="Order Special Components" onclick=addData() >
				</div>

			</form>

    	</div>

  </div>

</div>

<hr/>

<div class="">
	<div class="text-center"><h4>Inventory - Regular Components</h4></div>
<div class="row">
  	

    <div class="col-2 text-center">
      <!-- Regular Components Filter -->
      <div class="text-center"><h6>Filter Regular Components</h6></div>

      <div id="data-filtering">

      		<form id="sc-data-filter" class="form-horizontal" action="">

			<div class="form-row">
				<div class="col-sm">
					<select class="custom-select" id="rc_category">
						<option selected>Select Category</option>
					    <option>Case</option>
					    <option>Graphics Card (GC)</option>
					    <option>Hard Drive Disk (HDD)</option>
					    <option>Motherboard (MB)</option>
					    <option>RAM</option>
					</select>
				</div>
			</div>

			<div class="form-row">
				<div class="col-sm">
					<input type="text" name="rc_pn" id="rc_pn" placeholder="Part Number">
				</div>
			</div>

			<div class="form-row">
				<div class="col-sm">
					<input type="text" name="sc_site" id="sc_site" placeholder="Site: 99">
				</div>
			</div>

			<div class="form-row">
				<div class="col-sm">
					<input type="text" name="sc_room" id="sc_room" placeholder="Room: 99">
				</div>
			</div>

			<div class="form-row">
				<div class="col-sm">
					<input type="text" name="sc_shelf" id="sc_shelf" placeholder="Shelf: 99">
				</div>
			</div>

		
			<div class="inner-div">
				<input type="button" class="btn-sm btn-primary" value="Filter" onclick=addData() >
				<input type="button" class="btn=sm btn-primary" value="Clear Filters" onclick=clearFilters() >
			</div>
		</form>
	</div>
    </div>

    <div class="col-8">
      <!-- Regular Components Results -->

      <div id="results">
				<table class="table table-striped">
					<tr>
						<th>Part Number</th>
						<th>Category</th>
						<th>Quantity</th>
						<th>Location(s)</th>
						<th>Order More of This Component</th>
						<th>Edit Component Details</th>
						<th>Delete</th>
					</tr>
					{% for regular_component in regular_components %}
					<tr>
						<td>{{regular_component.rc_pn}}</td>
						<td>{{regular_component.rc_category}}</td>
						<td>{{regular_component.rc_quantity}}</td>
						<td>
							<ul>
								{% for location in regular_component.rc_locations %}
									<li>Site {{location.location_site_id}}, Room {{location.location_room_number}}, Shelf {{location.location_shelf_number}}</li>
								{% endfor %}
							</ul>
						</td>
						<td><button class="btn-sm btn-primary">Order More</button></td>
						<td><button class="btn-sm btn-warning">Edit</button></td>
						<td><button class="btn-sm btn-danger">Delete</button></td>
					</tr>
					{% endfor %}
				</table>
			</div>

    </div>

    <div class="col text-center">
      <!-- Regular Components Add -->
      <div class="text-center"><h6>Order New Regular Components</h6></div>

      <div id="data-entry-div">	

			<form id="sc_entry" class="form-horizontal" action="">

				<div class="form-group row">
					<div class="inner-div">
						<label for="new_sc_pn">New Part Number: </label>
						<input type="number" name="new_sc_pn" id="new_sc_pn" min="10000" max="99998" placeholder="12345" required>
					</div>
				</div>

				<div class="form-group row">
					<div class="inner-div">
						<select class="custom-select" id="rc_category">
							<option selected>Select Category</option>
						    <option>Case</option>
						    <option>Graphics Card (GC)</option>
						    <option>Hard Drive Disk (HDD)</option>
						    <option>Motherboard (MB)</option>
						    <option>RAM</option>
						</select>
					</div>
				</div>

				<div class="form-group row">
					<div class="inner-div">
						<label for="new_rc_quantity">Order Quantity: </label>
						<input type="number" name="new_rc_quantity" id="new_rc_quantity" min="1" max="50" placeholder="17" required>
					</div>
				</div>

				<div class="form-group row">
					<div class="inner-div">
						<select class="custom-select" id="new_rc_site" required>
							<option selected>Select Site: </option>
							{% for site in sites %}
						    	<option>{{site.site_name}}</option>
						    {% endfor %}
						</select>
					</div>
				</div>


				<div class="form-group row">
					<div class="inner-div">
					<input type="button" class="btn-sm btn-success" value="Order Regular Components" onclick=addData() >
					</div>
				</div>
			</form>

    	</div>

    </div>



  </div>
</div>

{% endblock %}

