<!-- Links to 'base_logged_in.html' as a base template file (which inherits from the base.html) -->
{% extends 'base_logged_in.html' %}

<!-- Title of the page -->
{% block title %} Stock and Product Locations {% endblock%}


{% block body %} 



<div class="content">
	
	<h4 class="text-center">Welcome {{user_first_name}} {{user_last_name}}</h1>

	<div class="card">

		<div class="card-body">

			<div class="container">
				<div class="row">
					<div class="col text-justify">

						<div class="card m-5" style="width: 18rem;">
						  <div class="card-body">
						    <h5 class="card-title">{{user_group}}</h5>
						    <p class="card-text">Site: {% for site in sites %}{% if site.site_id == user_site_id|int %}{{site.site_name}}{% endif %}{% endfor %}</p>
						    <p class="card-text">Email: {{user_email}}</p>
						  </div>
						</div>

					<div class="list-group">
					  <a href="/workorders" class="list-group-item list-group-item-action">To view further details regarding your existing work orders, click here.</a>
					  <a href="/assembly" class="list-group-item list-group-item-action">To view all products assigned to you for assembly, click here.</a>
					  <a href="/qc" class="list-group-item list-group-item-action">To view all products in need of QC, click here.</a>
					  <a href="/shipping" class="list-group-item list-group-item-action">To view all work orders ready to ship, click here.</a>
					  <a href="/inventory" class="list-group-item list-group-item-action">To view current inventory of all regular and special components, click here.</a>
					  <a href="/locations" class="list-group-item list-group-item-action">To manage storage locations, click here (requires Supervisor credentials).</a>
					  <a href="/management" class="list-group-item list-group-item-action">To manage employees and site details, click here (requires Supervisor credentials).</a>
					</div>


					</div>
					<div class="col m-3">

						{% if work_order_count > 1 %}

						<p>Your Current Work Orders:</p>

						<div class='align-center border'>
							<div style="height: 70vh; overflow-y: scroll;">

						      	{% for work_order in work_orders %}

						      		{% if work_order.wo_employee_id == user_id %}

										<div class="card">
										<div class="card-body">
										<div>
											<h6 class="card-title">Work Order {{work_order.wo_id}}</h6>

											<p>Status: 
												{% if work_order.wo_status == 'assembly_pending' %}Not Yet Assembled
												{% elif work_order.wo_status == 'qc_pending' %}Not Yet QC'd
												{% elif work_order.wo_status == 'shipping_pending' %}Not Yet Shipped
												{% endif %}
											</p>
											<a href="#" class="btn-sm btn-primary">View Order</a>
										</div>
										</div>
										</div>

									{% endif %}
							      	
								{% endfor %}

						      </div>
						</div>

						{% else %}
						<div class='text-center p-2 border'>
							<p>You are not currently assigned any work orders.</p>
						</div>
						{% endif %}

					</div>
				</div>
			</div>

		</div>

	</div>

</div>


{% endblock%}




