<!-- Links to 'base_standard_layout.html' as a base template file (which inherits from the base_logged_in.html and base.html) -->
{% extends 'base_standard_layout.html' %}

<!-- Jinja2 Template Block for Head of Webpage -->
{% block head %}

{% endblock %}

<!-- Jinja2 Template Block for Body of Webpage -->
{% block body %}

<!-- Overall Page Title -->
{% block page_header %}
Room/Shelf Storage Locations at 2Fast4U Sites
{% endblock %}

<!-- Page Description -->
{% block page_description %}


<div class="">
  <div class="row">
    <div class="col-sm">
    	<h5 class="access-level">This page requires supervisor-level access permission to modify locations.</h5>
    	<h5 class="access-level">Production-level access will allow viewing of existing locations but not modification.</h5>
      <p>Each 2Fast4U site has rooms containing shelves used for storing components and products. Each Room/Shelf combination is represented as a unique location ID. The following table lists storage locations at 2Fast4U production sites.</p> 
      <p>Please note that products and components must be moved out of a location before it be deleted. </p>
      
    </div>
    <div class="col-4">
      <p>The following Rooms have designated purposes across all 2Fast4U Sites:</p>
		<ul>
			<li>Room 1: Receiving Department</li>
			<li>Room 2: Warehouse</li>
			<li>Room 3: Assembly Department</li>
			<li>Room 4: QC Department</li>
			<li>Room 5: Shipping Department</li>

		</ul>
    </div>
  </div>
</div>


{% endblock %}

<!-- Header for Create New section -->
{% block create_header %}
Add New Location to Existing Site
{% endblock %}

<!-- Description for Create New section -->
{% block create_description %}
Each new location will automatically be assigned a location ID upon creation.
{% endblock %}

<!-- Form for Create New section -->
{% block create_form %}
<form id="add-location" action="" method="POST">

	<div class="inner-div text-center">

		<select class="custom-select m-1" name="add_new_location_site" id="add_new_location_site" required>
			<option value="" selected disabled hidden >Select Site: </option>
			{% for site in sites %}
				{% if site.site_id != 1 %}
		    		<option value={{site.site_id}}>{{site.site_address_city}}</option>
				{% endif %}
		    {% endfor %}
		</select>

		<label for="add_location_room_number">Room Number: </label>
		<input type="number" min="0" max="99" class='m-1' name="add_location_room_number" id="add_location_room_number" placeholder="99">

		<label for="add_location_shelf_number">Shelf Number: </label>
		<input type="number" min="0" max="99" class='m-1' name="add_location_shelf_number" id="add_location_shelf_number" placeholder="99">

		<input type="submit" class="btn-sm btn-success m-1" id="addNewLocationBtn" name="addNewLocationBtn" value="Add New Location" >
	</div>

</form>
{% endblock %}

<!-- Header for Filter section -->
{% block filter_header %}
Filter Existing Locations
{% endblock %}

<!-- Description for Filter section -->
{% block filter_description %}
{% endblock %}

<!-- Form for Filter section -->
{% block filter_form %}
<form id="existing-location-data-filter" action="" method="POST">
	<div class="d-flex justify-content-center">
		<div class="w-75">

		<div class="input-group">
		  <div class="w-75">
		    <input type="search" id="filterLocationSearch" class="form-control" name='filterLocationSearch' placeholder="Filter Existing Locations by Site City, Room Number or Shelf Number" />
		  </div>

		  <input type="submit" class="btn-sm btn-primary m-1" name="btnFilterLocation" id="btnFilterLocations" value="Filter" >
			<input type="submit" class="btn-sm btn-primary m-1" name="btnClearFilterLocation" id="btnFilterLocations" value="Clear Filters" >
			</div>
	  </div>
	</div>
</form>
{% endblock %}

<!-- Main results table -->
{% block table_contents %}
<table class="table table-striped " id='locationResults'>
		<tr >
			<th>Location ID</th>
			<th>2Fast4U Site Name</th>
			<th>Room</th>
			<th>Shelf</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
		{% for location in locations %}
				{% if location.location_id != 1 %}
				<tr>
					<td>
						{{location.location_id}}
					</td>

					<td>
						{{location.location_site_name}}
					</td>
					
					<td>
						{{location.location_room_number}}
					</td>
					<td>
						{{location.location_shelf_number}}
					</td>

					<!-- <th><button class="btn-sm btn-warning">Edit</button></th> -->
					<th><button type="button" 
						class="btn-sm btn-warning" 
						data-toggle="modal" 
						data-target="#editLocation" 
						data-site-id="{{location.location_site_id}}" 
						data-location-room-number="{{location.location_room_number}}" 
						data-location-shelf-number="{{location.location_shelf_number}}" 
						data-location-id="{{location.location_id}}"
						data-title="Edit Location ID {{location.location_id}}"
						>Edit</button></th>
					<td><button class="btn-sm btn-danger" 
						data-toggle="modal" 
						data-target="#deleteLocation" 
						data-site-id="{{location.location_site_id}}" 
						data-location-room-number="{{location.location_room_number}}" 
						data-location-shelf-number="{{location.location_shelf_number}}" 
						data-location-id="{{location.location_id}}"
						data-title="Delete Location: Room {{location.location_room_number}}, Shelf {{location.location_shelf_number}}?">Delete</button></td>
				</tr>
			{% endif %}	
		{% endfor %}
		
	</table>

{% endblock %}

<!-- Page-specific modals -->
{% block page_modals %}
<!-- Modal popup for special component Edit feature -->
<div id="editLocation" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="POST">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal Window</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">  

                    	<input type="hidden" id="location-id-to-edit" name="location-id-to-edit" value="">  

                    	<div class="form-group p-1">
                    		<label class="control-label" >Site:</label>
                    		<select class="custom-select" id="location-site" name="location-site" required>
							<option selected>Select Site: </option>
								{% for site in sites %}
									{% if site.site_id != 1 %}
							    	<option value={{site.site_id}}>{{site.site_address_city}}</option>
									{% endif %}
							    {% endfor %}
							</select>
						</div>

                        <div class="form-group p-1">
                            <label class="control-label" >Room Number:</label>
                            <input type="number" min="0" max="999" id="room-number" name="room-number" class="form-control" >
                        </div>   

                        <div class="form-group p-1">
                            <label class="control-label" >Shelf Number:</label>
                            <input type="number" min="0" max="999" id="shelf-number" name="shelf-number" class="form-control">
                        </div>                      
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="Submit" class="btn btn-primary" name="editExistingLocationBtn" id="editExistingLocationBtn" >Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


<!-- Modal popup for special component Edit feature -->
<div id="deleteLocation" class="modal fade" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<form id="update-site-data" action="" method="POST" onsubmit="">
				<div class="modal-header">
					<h5 class="modal-title">Modal Window</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">

					 <input type="hidden" id="location-id-to-delete" name="location-id-to-delete" value=""> 

					 <div class="form-group p-1">

						<p class='text-justify'><strong>Note:</strong> A 2Fast4U Location associated with any current Inventory or Products <strong>cannot</strong> be removed from the CIMDB. To continue:</p>

						<ul>
							<li>delete or relocate all component inventory located at this site to another storage location </li>
							<li>delete all storage locations associated with this site</li>
						</ul>

						<p>Are you <strong>sure</strong> you want to delete this storage location?</p>

						<p>This will: </p>
						<ul>
							<li>remove this location as an option for storing new components and products</li>
						</ul>
					</div>                    	
					
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">No/Cancel</button>
					<button type="submit" class="btn btn-danger" id="btnLocationDelete" name="btnLocationDelete">Yes/Delete</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}

<!-- Page-specific scripts -->
{% block page_scripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/locations.js') }}"></script>
{% endblock %}


{% endblock %}

