<!-- Links to 'base_logged_in.html' as a base template file (which inherits from the base.html) -->
{% extends 'base_logged_in.html' %}

<!-- Title of the page -->
{% block title %} Stock and Product Locations {% endblock%}


{% block body %} 

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<!-- add new form -->
<div class="intro-div">
    <h2>Room/Shelf Storage Locations at 2Fast4U Sites</h2>
	
	<p>Each 2Fast4U site has many rooms containing shelves used for storing components and products. </p>
	<p>Each unique Room/Shelf combination is represented as a unique location ID. The following table lists storage locations at 2Fast4U production sites.</p> 

</div>

<div id="data-add" class="border">

	<form id="assembly-data-filter" action="">

		<div class="inner-div text-center">

			<label>Add new location to site: </label>

			<select class="custom-select" id="new_site" required>
							<option selected>Select Site: </option>
							{% for site in sites %}
						    	<option>{{site.site_name}}</option>
						    {% endfor %}
						</select>

			<input type="text" name="new_location_room_number" id="location_room_number" placeholder="Room Number">

			<input type="text" name="new_location_shelf_number" id="location_shelf_number" placeholder="Shelf Number">
		
			<input type="button" class="btn-sm btn-success" value="Add New Location" onclick=addData() >
		</div>

		<div class="inner-div text-center">Each new location will automatically be assigned a location ID upon creation.</div>
        
	</form>
</div>


<div id="data-filtering" class="mb-0">

	<form id="assembly-data-filter" action="">

		<div class="inner-div text-center">

			<label>Filter existing location information: </label>

			<input type="text" name="location_site_id" id="location_site_id" placeholder="Site ID">

			<input type="text" name="location_id" id="location_id" placeholder="Location ID">

			<input type="text" name="location_room_number" id="location_room_number" placeholder="Room Number">

			<input type="text" name="location_shelf_number" id="location_shelf_number" placeholder="Shelf Number">
		
			<input type="button" class="btn-sm btn-primary" value="Filter" onclick=filterData() >
			<input type="button" class="btn-sm btn-primary" value="Clear Filters" onclick=clearFilters() >

			<div>For all sites, Receiving Department is Room 0, Shelf 0 and Shipping Department is Room 0, Shelf 1.</div>
			<div>Please note that if a deleted location is storing products or components at the time of deletion, those products and components will be moved to the Receiving Department of that site.</div>
		</div>
        
	</form>
</div>





<!-- dummy content for demo --will be replaced -->
<div id="results">
	<div class="border pl-1 pr-1 pb-1 mt-0" style="height: 65vh; overflow-y: scroll;">
	<table class="table table-striped " >
		<tr >
			<th>Location ID</th>
			<th>2Fast4U Site Name</th>
			<th>Room</th>
			<th>Shelf</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
		{% for location in locations %}
			<tr>
				<td>
					{{location.location_id}}
				</td>

				<td>
					{% for site in sites %}{% if site.site_id == location.location_site_id %}{{site.site_name}}{% endif %}{% endfor %}
				</td>
				
				<td>
					{{location.location_room_number}}
				</td>
				<td>
					{{location.location_shelf_number}}
				</td>

				<!-- <th><button class="btn-sm btn-warning">Edit</button></th> -->
				<th><button type="button" class="btn-sm btn-warning" data-toggle="modal" data-target="#editLocation" data-site-name="{% for site in sites %}{% if site.site_id == location.location_site_id %}{{site.site_name}}{% endif %}{% endfor %}" data-location-room-number="{{location.location_room_number}}" data-location-shelf-number="{{location.location_shelf_number}}" data-title="Edit Location ID {{location.location_id}}">Edit</button></th>
				<td><button class="btn-sm btn-danger">Delete</button></td>
			</tr>
		{% endfor %}
		
	</table>
	</div>
</div>

<div id="editLocation" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <h5 class="modal-title">Modal Window</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">  

                    	<div class="form-group">
                    		<select class="custom-select" id="location-site" required>
							<option selected>Select Site: </option>
								{% for site in sites %}
							    	<option>{{site.site_name}}</option>
							    {% endfor %}
							</select>
						</div>

                        <div class="form-group">
                            <label class="control-label" >Room Number:</label>
                            <input type="number" min="0" max="999" id="room-number" class="form-control" value=>
                        </div>   

                        <div class="form-group">
                            <label class="control-label" >Shelf Number:</label>
                            <input type="number" min="0" max="999" id="shelf-number" class="form-control">
                        </div>                      
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<script>
$(document).ready(function(){
    $("#editLocation").on("show.bs.modal", function(event){
        // Get the button that triggered the modal
        var button = $(event.relatedTarget);

        // Extract value from the custom data-* attribute
        var titleData = button.data("title");
        $(this).find(".modal-title").text(titleData);

        var roomNumberData = parseInt(button.data("location-room-number"));
        console.log(roomNumberData);
        $(this).find("#room-number").val(roomNumberData);

        var shelfNumberData = parseInt(button.data("location-shelf-number"));
        $(this).find("#shelf-number").val(shelfNumberData);

        var siteNameData = parseInt(button.data("site-name"));        
        $(this).find("#location-site").val(siteNameData);
    });
});
</script>
{% endblock%}




