<!-- Links to 'base_logged_in.html' as a base template file (which inherits from the base.html) -->
{% extends 'base_logged_in.html' %}

<!-- Title of the page -->
{% block title %} Workorder Details{% endblock%}


{% block body %} 

<div class='intro-div'>
	<div class="two-column">
		<div class="information">
			<h2>Manage Product Components Details</h2>
			<h5 class="access-level">This page requires supervisor-level access permission for edit details</h5>
			<h5 class="access-level">Employee-level access can only review data</h5>
			<p>Manage(View, Add , Edit and Delete) components in a product</p>
			<button type="button" class="btn btn-light" onclick=go_back()>Back to products list</button>
		</div>

		<div class="process-overview">
			<p>Workorder Process Overview</p>
			<ul class="list-group">
				<li class="list-group-item " >1. Workorder</li>
				<li class="list-group-item ">2. Products list</li>
				<li class="list-group-item active" aria-current="true">3. Components list</li>
			</ul>
		</div>
	</div>
</div>

<div class='intro-div'>
	<div class="two-column">
		<div class="information">
			<h3>Product Details</h3>
			
			<h6>Product Serial Number: <i>{{product.product_sn}}</i> </h6>
			<h6>Product Family: <i>{{product.product_family}}</i> </h6>
			<h6 id="product_pn">Product Part Number: <i>{{product.product_pn}}</i> </h6>
			<h6>Product Assembly Date: <i>{{product.product_date_assembly}}</i> </h6>
			<h6>Product QC Date: <i>{{product.product_qc_date}}</i> </h6>
			<h6>Product Waranty Validation: <i>{{product.product_warranty_expiration_date}}</i> </h6>
			<h6>Product Location: <i>{{product.product_location_id}}</i> </h6>
			<h6>Product Employee in Charge: <i>{{product.product_employee_full_name}}</i> </h6>

		</div>

		<div class="information">
			<h3>Open another Product</h3>
			<p>Open another product component list using the below form</p>

			<div class="inner-div">
				<label for="wo_id">product Serial Number:</label>
				<input type="number" name="product_sn" id="product_sn_reload">

				<input type="button" class="btn btn-success" value="Refresh" onclick=reload_product()>
								
			</div>

									
		</div>

	</div>
</div>


<!-- add new form -->
<div id="data-entry-div">
	<h3>Product components</h3>

	
	<!-- dummy content for demo --will be replaced -->
<div id="results">
	<table class="table table-striped" >
		<tr>
			<th>CPU SN</th>
			<th>Mother Board</th>
            <th>RAM</th>
            <th>RAM Quantity</th>
			<th>Graphic Card</th>
			<th>HDD</th>
            <th>HDD Quantity</th>
            <th>Case</th>
            
            
		</tr>
		

		<tr>
			
			<td id="table_product_sc_sn">{{product.product_sc_sn}}</td>
			<td id="table_MB">{{components.MB}}</td>
            <td id="table_RAM">{{components.RAM}}</td>
            <td id="table_RAM_quant">{{components.RAM_quant}}</td>
			<td id="table_GC">{{components.GC}}</td>
			<td id="table_HDD">{{components.HDD}}</td>
            <td id="table_HDD_quant">{{components.HDD_quant}}</td>
            <td id="table_Case">{{components.Case}}</td>
            
		</tr>
				
	</table>
	
</div>

	<h4>Update Component Details</h4>

	<form id="product-component-entry" action="">

		<div class="inner-div">
			<label for="product_sc_sn">CPU SN: </label>
			<input type="text"   name="product_sc_sn" id="product_sc_sn" >
			<input type="button" class="btn btn-primary "   value="random" onclick=get_cpu_sn("{{product.product_pn}}","random")>
			<input type="button" class="btn btn-secondary " value="FIFO"   onclick=get_cpu_sn("{{product.product_pn}}","FIFO")>
			<input type="button" class="btn btn-info "      value="LIFO"   onclick=get_cpu_sn("{{product.product_pn}}","LIFO")>
		</div>

		
		<div class="inner-div">
			<label for="motherboard">Mother Board</label>
			<select name="motherboard" id="motherboard" required>
				{% for mb in regular_components_catalog["MB"] %}
					<option> {{mb}} </option>
				{% endfor %}
			</select>
			
			<label for="case">Case</label>
			<select name="case" id="case" required>
				{% for case in regular_components_catalog["Case"] %}
					<option> {{case}} </option>
				{% endfor %}
			</select>

			<label for="gc">Graphic Card</label>
			<select name="gc" id="gc" required>
				{% for gc in regular_components_catalog["GC"] %}
					<option> {{gc}} </option>
				{% endfor %}
			</select>

			<br>
		</div>
		
		<div class="inner-div"> 
			<label for="ram">RAM</label>
			<select name="ram" id="ram" required>
				{% for ram in regular_components_catalog["RAM"] %}
					<option> {{ram}} </option>
				{% endfor %}
			</select>

			<label for="ram-quant">RAM Quantity: </label>
			<input type="number" value="" id="ram_quant" >
			
			<label for="hdd">HDD</label>
			<select name="hdd" id="hdd" required>
				{% for hdd in regular_components_catalog["HDD"] %}
					<option> {{hdd}} </option>
				{% endfor %}
			</select>

			<label for="hdd-quant">HDD Quantity: </label>
			<input type="number" value="" id="hdd_quant" >
		</div>
        
		<div class="inner-div">
			<input type="button" class="btn btn-warning" value="Update/Add" onclick=update_product_compoennets("{{product.product_sn}}") >
		</div>

				
	 
	</form>

</div>



<script src="{{ url_for('static', filename='js/product-details.js') }}"></script>

{% endblock%}



