<!-- Links to 'base_logged_in.html' as a base template file (which inherits from the base.html) -->
{% extends 'base_logged_in.html' %}

<!-- Title of the page -->
{% block title %} QC{% endblock%}


{% block body %} 

<!-- add new form -->
<div class="intro-div">
	<div class="two-column">
			<div class="information">
				<h2>QC Line</h2>
				<p> The Products below are assembled and ready for QC.</p>
				<p> The components inforamtion can be reviwed , using the <b>Details</b> button.</p>
				<p> If the product passed QC, update the status using <b>Send to Shipping</b> button.</p>
				<p> The inventory information will be updated automatically.</p>
				<p> In the case of any problems , notify the supervisor by <b>Report</b> button.</p>
			</div>

			<div class="process-overview">
				<p>Product Assembly Process Overview</p>
				<ul class="list-group">
					<li class="list-group-item">1. Assembly</li>
					<li class="list-group-item active" aria-current="true">2. QC</li>
					<li class="list-group-item">3.Shipping</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div id="data-filtering">
	<h3>Filter Products</h3>
	<p>The list can be filtered using the form below:</p>



	<form class="form-group filter-form" id="qc-data-filter" action="">
		

		<label for="filter-key">
			<select class="form-control" name="filter-key" id="filter-key">
				<option>Please Select Filter parameter</option>
				<option value="wo_id">Workorder ID</option>
				<option value="wo_open_date">Workorder Open Date</option>
				<option value="wo_close_date">Workorder Close Date</option>
				<option value="product_assembly_date">Product Assembly Date</option>
				<option value="product_sn">Product SN</option>
				<option value="product_family">Product Family</option>
				<option value="product_pn">Product Pn</option>
			</select>
		</label>
		<div id="filter-value">

		</div>
		<div>
			<input type="button" class="btn btn-primary" value="Filter" id="filterBtn">
			<input type="button" class="btn btn-warning" value="Clear" id="filterClearBtn">
		</div>
		
		
	</form>
	
</div>



<div id="results">
	<table class="table table-striped" id="qc-results" >
		<thead>
			<tr id="table-head">
				<th>wo id</th>
				<th>wo open date</th>
				<th>product SN</th>
				<th>product family</th>
				<th>product PN</th>
				<th>Assembly Date</th>
				<th>Details</th>
				<th>Passed QC?</th>
				<!-- <th>Report</th> -->
			</tr>
		</thead>
		<tbody>
			{% for product in qc_list %}
				<tr>
					<td>{{product.wo_id}}</td>
					<td>{{product.wo_open_date}}</td>
					<td>{{product.product_sn}}</td>
					<td>{{product.product_family}}</td>
					<td>{{product.product_pn}}</td>
					<td>{{product.product_date_assembly}}</td>

					<td><button class="btn btn-secondary" onclick=components_info("{{product.product_sn}}")>Details</td>
					
					<td><button class="btn btn-info"
						data-toggle="modal"
						data-target="#pass_qc" 
						data_product_sn={{product.product_sn}}>Approve</button>
					</td>

					<!-- <td><button class="btn btn-dark"
						data-toggle="modal"
						data-target="#failed_qc" 
						data_product_sn={{product.product_sn}}>Report</button>
					</td> -->

				</tr>
			{% endfor %}
		</tbody>
		
	</table>
	
</div>

<!-- Modal popup for QC Approval feature -->
<div id="pass_qc" class="modal fade" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<form >
				<div class="modal-header">
					<h5 class="modal-title">QC Approval for Product #<span id="pass_qc_title"> </span></h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">

					 <h2>QC Approval</h2>
					 <p>The product passed all approved QC tests and is ready for next step.</p>
					 <label for="qc_approval_date">QC Approval Date</label>
					 <input type="date" id="qc_approval_date" >
					 


				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-success" id="btnUpdate" name="btnUpdate" data-dismiss="modal" aria-label="Close" onclick=qc_approval()>Approve</button>
				</div>
			</form>
		</div>
	</div>
</div>


<!-- Modal popup for Report feature -->
<!-- <div id="failed_qc" class="modal fade" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<form>
				<div class="modal-header">
					<h5 class="modal-title">QC Denial for Product #<span id="failed_qc_title"> </span></h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">

					 <h2>QC Denial</h2>
					 <p>The product failed some QC tests and is NOT ready for next step.</p>
					 <p>This will inform the supervisor team</p>
					 

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-success"  id="reportbtn" data-dismiss="modal" aria-label="Close" onclick=report()>Report</button>
				</div>
			</form>
		</div>
	</div>
</div> -->


<!-- Connect to jquery (first) in order to open modals -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<script src="{{ url_for('static', filename='js/qc.js') }}"></script>
{% endblock%}



