<!-- Links to 'base_logged_in.html' as a base template file (which inherits from the base.html) -->
{% extends 'base_logged_in.html' %}

<!-- Jinja2 Template Block for Head of Webpage -->
{% block head %}

{% endblock %}

<!-- Jinja2 Template Block for Body of Webpage -->
{% block body %}

<div class="intro-div">
	<div class="two-column">
			<div class="information">
				<h3>Shipping</h3>
				<p> Below are work orders that have not yet been shipped, categorized by status.</p>
				<p> Full work order details can be viewed by clicking the <b>View Order Details</b> button.</p>
				<p> If the work order is ready to be shipped, update the status using the <b>Ship</b> button.</p>
			</div>

			<div class="process-overview">
				<p>Product Assembly Process Overview</p>
				<ul class="list-group">
					<li class="list-group-item">1. Assembly</li>
					<li class="list-group-item">2. QC</li>
					<li class="list-group-item active" aria-current="true"> 3. Shipping</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="content">
	  <div class="row">

	  	<div class="container">
		  <div class="row m-3">


		  	<div class="col-sm border text-center">

		      	<div class='text-center p-3'><h6>Work Orders Pending Assembly</h6></div>

		    	<div style="height: 50vh; overflow-y: scroll;">

		      	{% for work_order in work_orders %}

		      		{% if work_order.wo_status == "assembly_pending" %}

						<div class="card">
						<div class="card-body">
						<div>
							<h6 class="card-title">Work Order {{work_order.wo_id}}</h6>
								<p>Pending Assembly and QC by {{work_order.wo_employee_full_name}}</p>
							<button type="button" 
								class="btn-sm btn-secondary text-right" 
								onclick="window.location.href='/wo-details?wo_id={{work_order.wo_id}}'"
								>View Order Details
							</button>
						</div>
						</div>
						</div>

					{% endif %}
			      	
				{% endfor %}

		      </div>
		    </div>

		    <div class="col-sm border text-center">
		    	<div class='text-center p-3'><h6>Work Orders Pending QC</h6></div>

		    	<div style="height: 50vh; overflow-y: scroll;">
		      
		      <!-- <div class="overflow-auto"> -->
				{% for work_order in work_orders %}

					{% if work_order.wo_status == "qc_pending" %}

						<div class="card">
						<div class="card-body ">
						<div>
							<h6 class="card-title">Work Order {{work_order.wo_id}}</h6>

							<p>Pending QC by {{work_order.wo_employee_full_name}}</p>
							
							<button type="button" 
								class="btn-sm btn-secondary text-right" 
								onclick="window.location.href='/wo-details?wo_id={{work_order.wo_id}}'"
								>View Order Details
							</button>

						</div>
						</div>
						</div>

					{% endif %}
			      	
				{% endfor %}
		      	
		      	</div>

		      <!-- </div> -->
		    </div>

		    <div class="col-sm border text-center">

		      	<div class='text-center p-3'><h6> Work Orders Ready to Ship</h6></div>

		    	<div style="height: 50vh; overflow-y: scroll;">

		      	{% for work_order in work_orders %}

		      		{% if work_order.wo_status == "shipping_pending" %}

						<div class="card">
						<div class="card-body">
						<div>
							<h6 class="card-title">Work Order {{work_order.wo_id}}</h6>

							<p>Prepared by {{work_order.wo_employee_full_name}}</p>

							<button type="button" 
								class="btn-sm btn-secondary text-right" 
								onclick="window.location.href='/wo-details?wo_id={{work_order.wo_id}}'"
								>View Order Details
							</button>
							<button type="button" 
								class="btn-sm btn-info text-right" 
								data-toggle="modal" 
								data-target="#shipWorkOrder" 
								data-work-order-id="{{work_order.wo_id}}"
								data-work-order-open-date="{{work_order.wo_open_date}}" 
								data-work-order-reference-number="{{work_order.wo_reference_number}}" 
								data-title="Ship Work Order {{work_order.wo_id}}?"
								>Ship
							</button>
						</div>
						</div>
						</div>

					{% endif %}
			      	
				{% endfor %}

		      </div>
		    </div>

		  </div>
		</div>

	  </div>
	</div>
</div>




</div>



<!-- Modal popup for regular component details Edit feature -->
<div id="shipWorkOrder" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="POST">
                    <div class="modal-header">
                        <h5 class="modal-title">Ship Work Order</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">

					 <input type="hidden" id="work-order-id-to-ship" name="work-order-id-to-ship" value=""> 

					 <div class="form-group p-1">

						<p>Shipping this work order will mark this work order as Completed, which will remove it from the shipping display. </p>
						<ul>
							<!-- <li class='text-justify'>remove this work order as an option for storing new components and products</li> -->
							<!-- <li class='text-justify'>mark this work order as Completed, which will remove it from the shipping display</li> -->
							<!-- <li class='text-justify'>set the Close Date of the work order to today's date.</li> -->
							<!-- <li class='text-justify'>update the location of all products in this work order to be shipped</li> -->
							<!-- <li class='text-justify'>update the location of all components used in the products of this work order to be shipped</li> -->
						</ul>
					</div> 

                    							<p>Are you <strong>sure</strong> you want to ship this work order?</p>

					</div>

                    <div class="modal-footer">
	                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No/Cancel</button>
						<button type="submit" class="btn btn-info" id="btnShip" name="btnShip">Yes/Ship</button>
                    </div>
                   
                </form>
            </div>
        </div>
    </div>


<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



<!-- load shipping JS for View Work Order modal -->
<script type="text/javascript" src="{{ url_for('static', filename='js/shipping.js') }}"></script>

{% endblock %}