<!-- Links to 'base_standard_layout.html' as a base template file (which inherits from the base_logged_in.html and base.html) -->
{% extends 'base_standard_layout.html' %}

<!-- Jinja2 Template Block for Head of Webpage -->
{% block head %}

{% endblock %}

<!-- Jinja2 Template Block for Body of Webpage -->
{% block body %}

<!-- Overall Page Title -->
{% block page_header %}
2Fast4U Site Management
{% endblock %}

<!-- Page Description -->
{% block page_description %}

{% endblock %}

<!-- Header for Create New section -->
{% block create_header %}
Add New Site
{% endblock %}

<!-- Description for Create New section -->
{% block create_description %}
Note that a newly added site will only be pre-populate with the five standard rooms (Warehouse and Receiving, Assembly, QC and Shipping Departments). All additional locations will need to be added by a Supervisor on the <a href="/locations">Locations</a> page.
{% endblock %}

<!-- Form for Create New section -->
{% block create_form %}
<form id="new-site-data" action="" method="POST">

	<div class="text-center">

		<input type="text" class='m-1' name="new_site_address_1" id="new_site_address_1" placeholder="Address " required>

		<input type="text" class='m-1' name="new_site_address_2" id="new_site_address_2" placeholder="Address 2">

		<input type="text" class='m-1' name="new_site_city" id="new_site_city" placeholder="City" required>

		<select class="custom-select" name="new_site_state" id="new_site_state" required>
			<option selected>Select State: </option>
			{% for state in states %}
			<option>{{state.Code}}</option>
			{% endfor %}
		</select>

		<label for="new_site_zip">Zip: </label>
		<input type="number" min="11111" max="99999" class='m-1' name="new_site_zip" id="new_site_zip" placeholder="99999" required>

		<input type="submit" class="btn-sm btn-success m-1" id="addNewSiteBtn" name="addNewSiteBtn" value="Add New Site" >



	</div>

</form>
{% endblock %}

<!-- Header for Filter section -->
{% block filter_header %}
Filter Existing Sites 
{% endblock %}

<!-- Description for Filter section -->
{% block filter_description %}

{% endblock %}

<!-- Form for Filter section -->
{% block filter_form %}
<form id="existing-site-data-filter" action="">

	<div class="text-center">

		<label for="existing_site_id">Site ID:</label>
		<input type="number" min="1" max="99" class='m-1' name="existing_site_id" id="existing_site_id" placeholder="99">

		<input type="text" class='m-1' name="existing_site_address_1" id="existing_site_address_1" placeholder="Address ">

		<input type="text" class='m-1' name="existing_site_address_2" id="existing_site_address_2" placeholder="Address 2">

		<input type="text" class='m-1' name="existing_site_city" id="existing_site_city" placeholder="City">

		<select class="custom-select m-1" name="existing_site_state" id="existing_site_state" required>
			<option selected>Filter State: </option>
			{% for state in states %}
			<option>{{state.Code}}</option>
			{% endfor %}
		</select>

		<label for="existing_site_zip">Zip: </label>
		<input type="number" min="11111" max="99999" class='m-1' name="existing_site_zip" id="existing_site_zip" placeholder="99999">

		<input type="button" class="btn-sm btn-primary m-1" value="Filter" onclick=filterData() >
		<input type="button" class="btn-sm btn-primary m-1" value="Clear Filters" onclick=clearFilters() >


	</div>

</form>

<!-- <form id="existing-site-data-filter" action="" method="POST">
	<div class="input-group">
	  <div class="form-outline w-75">
	    <input type="search" id="filterSearch" class="form-control" name='filterSearch' placeholder="Filter by Site Name, Address, City, State or Zip Code" />
	  </div>
	  <button type="submit" id="filterExistingSitesBtn" name="btn" class="btn btn-primary">
	    <i class="fas fa-search">Filter</i>
	  </button>
	  <button type="button" class="btn btn-primary">
	    <i class="fas fa-search">Clear Filters</i>
	  </button>
	</div>
</form>
 -->

<p id="datalist"></p>
{% endblock %}

<!-- Main results table -->
{% block table_contents %}

<table class="table table-striped " >
<tr >
	<th>Site ID</th>
	<th>Address 1</th>
	<th>Address 2</th>
	<th>City</th>
	<th>State</th>
	<th>Zip Code</th>
	<th>Edit Site</th>
	<th>Delete Site</th>
</tr>
{% for site in sites %}
<tr>
	<td>{{site.site_id}}</td>
	<td>{{site.site_address_1}}</td>
	<td>{{site.site_address_2}}</td>
	<td>{{site.site_address_city}}</td>
	<td>{{site.site_address_state}}</td>
	<td>{{site.site_address_postal_code}}</td>

	<!-- <th><button class="btn-sm btn-warning">Edit</button></th> -->
	<th><button type="button"
		class="btn-sm btn-warning" 
		data-toggle="modal" 
		data-target="#editSite"
		data-site-id-to-edit="{{site.site_id}}"
		data-site-address-1="{{site.site_address_1}}"
		data-site-address-2="{{site.site_address_2}}"
		data-site-address-city="{{site.site_address_city}}"
		data-site-address-state="{{site.site_address_state}}"
		data-site-address-postal-code="{{site.site_address_postal_code}}"
		data-title="Edit Site ID {{site.site_id}}">Edit</button></th>

		<td><button type="button"
		class="btn-sm btn-danger" 
		data-toggle="modal" 
		data-target="#deleteSite"
		data-site-id-to-delete="{{site.site_id}}"
		data-site-address-1="{{site.site_address_1}}"
		data-site-address-2="{{site.site_address_2}}"
		data-site-address-city="{{site.site_address_city}}"
		data-site-address-state="{{site.site_address_state}}"
		data-site-address-postal-code="{{site.site_address_postal_code}}"
		data-title="Delete Site: {{site.site_address_city}}">Delete</button></td>
	</tr>
	{% endfor %}

{% endblock %}

<!-- Page-specific modals -->
{% block page_modals %}
<!-- Modal popup for site Edit feature -->
<div id="editSite" class="modal fade" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<form id="update-site-data" action="" method="POST" onsubmit="">
				<div class="modal-header">
					<h5 class="modal-title">Modal Window</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">

					 <input type="hidden" id="site-id-to-edit" name="site-id-to-edit" value="">                    	

					<div class="form-group p-1">
						<label class="control-label" >Address 1:</label>
						<input type="text" id="site-edit-address-1" name="site-edit-address-1" class="form-control" placeholder="123 Main Street" required>
					</div>  

					<div class="form-group p-1">
						<label class="control-label" >Address 2:</label>
						<input type="text" id="site-edit-address-2" name="site-edit-address-2" class="form-control" placeholder='Unit 500'>
					</div>  


					<div class="form-group p-1">
						<label class="control-label" >City:</label>
						<input type="text" id="site-edit-city" name="site-edit-city" class="form-control" placeholder="San Jose" required>
					</div>  


					<div class="form-group p-1">
						<label class="control-label" >State:</label>
						<select class="custom-select" name="site-edit-state" id="site-edit-state" required>
							<option selected>Select State: </option>
							{% for state in states %}
							<option>{{state.Code}}</option>
							{% endfor %}
						</select>
					</div>  

					<div class="form-group p-1">
						<label class="control-label" >Zip Code:</label>
						<input type="number" min="00000" max="99999" id="site-edit-zip" name="site-edit-zip" class="form-control" placeholder="99999" required>
					</div>  
					
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-primary" id="btnUpdate" name="btnUpdate">Update</button>
				</div>
			</form>
		</div>
	</div>
</div>


<!-- Modal popup for site Delete feature -->
<div id="deleteSite" class="modal fade" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<form id="update-site-data" action="" method="POST" onsubmit="">
				<div class="modal-header">
					<h5 class="modal-title">Modal Window</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">

					 <input type="hidden" id="site-id-to-delete" name="site-id-to-delete" value=""> 

					 <div class="form-group p-1">

						<p class='text-justify'><strong>Note:</strong> A 2Fast4U site associated with any current Employees, Inventory, or Locations <strong>cannot</strong> be removed from the CIMDB. To continue:</p>

						<ul>
							<li>delete or transfer all employees currently assigned to this site to another 2Fast4U site </li>
							<li>delete or relocate all component inventory located at this site to another 2Fast4U site </li>
							<li>delete all storage locations associated with this site</li>
							<!-- <li>reassign any Work Orders currently assigned to them to their </li> -->
						</ul>

						<p>Are you <strong>sure</strong> you want to delete 2Fast4U site located in <span id="site-delete-city" name="site-delete-city"></span>?</p>

						<p>This will: </p>
						<ul>
							<li>remove this site as an option for receiving new components </li>
							<li>remove the ability to assign employees to this site</li>
							<!-- <li>reassign any Work Orders currently assigned to them to their </li> -->
						</ul>
					</div>                    	

					<!-- <div class="form-group p-1">
						<label class="control-label" >Address 1:</label>
						<input type="text" id="site-delete-address-1" name="site-delete-address-1" class="form-control" placeholder="123 Main Street" required>
					</div>  

					<div class="form-group p-1">
						<label class="control-label" >Address 2:</label>
						<input type="text" id="site-delete-address-2" name="site-delete-address-2" class="form-control" placeholder='Unit 500'>
					</div>  


					<div class="form-group p-1">
						<label class="control-label" >City:</label>
						<input type="text" id="site-delete-city" name="site-delete-city" class="form-control" placeholder="San Jose" required>
					</div>  


					<div class="form-group p-1">
						<label class="control-label" >State:</label>
						<select class="custom-select" name="site-delete-state" id="site-delete-state" required>
							<option selected>Select State: </option>
							{% for state in states %}
							<option>{{state.Code}}</option>
							{% endfor %}
						</select>
					</div>  

					<div class="form-group p-1">
						<label class="control-label" >Zip Code:</label>
						<input type="number" min="00000" max="99999" id="site-delete-zip" name="site-delete-zip" class="form-control" placeholder="99999" required>
					</div>   -->
					
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">No/Cancel</button>
					<button type="submit" class="btn btn-danger" id="btnSiteDelete" name="btnSiteDelete">Yes/Delete</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}

<!-- Page-specific scripts -->
{% block page_scripts %}
<!-- Connect to jquery (first) in order to open modals -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<!-- Connect to sites.js in order to extract the data from the webpages -->
<script type="text/javascript" src="{{ url_for('static', filename='js/sites.js') }}"></script>
{% endblock %}


{% endblock %}

