<!-- Links to 'base_logged_in.html' as a base template file (which inherits from the base.html) -->
{% extends 'base_logged_in.html' %}

<!-- Jinja2 Template Block for Head of Webpage -->
{% block head %}

{% endblock %}

<!-- Jinja2 Template Block for Body of Webpage -->
{% block body %}

<!-- Navigation bar -->
<div>
</div>

<div class="content">
	<div class="container">
	  <div class="row">
	  	<h5>User Management</h5>

	  	<!-- User Filtering -->
	    <div class="col-4">
	      

	    	<div id="data-filtering">

				<form id="sc-data-filter" class="form-horizontal" action="">

					<div class="form-group row">
						<label for="sc_sn" class="col-sm-4 col-form-label">Serial Number:</label>
						<div class="col-sm-8">
							<input type="text" name="sc_sn" id="sc_sn" placeholder="1234567890">
						</div>
					</div>

					<div class="form-group row">
						<label for="sc_pn" class="col-sm-4 col-form-label">Part Number: </label>
						<div class="col-sm-8">
							<input type="text" name="sc_pn" id="sc_pn" placeholder="123456">
						</div>
					</div>

					<div class="form-group row">
						<label for="sc_is_free" class="col-sm-4 col-form-label">Is Free: </label>
						<div class="col-sm-8">
							<input type="checkbox" name="sc_is_free" id="sc_is_free">
						</div>
					</div>

					<div class="form-group row">
						<label for="sc_site" class="col-sm-4 col-form-label">Site: </label>
						<div class="col-sm-8">
							<input type="text" name="sc_site" id="sc_site" placeholder="99">
						</div>
					</div>

					<div class="form-group row">
						<label for="sc_room" class="col-sm-4 col-form-label">Room: </label>
						<div class="col-sm-8">
							<input type="text" name="sc_room" id="sc_room" placeholder="99">
						</div>
					</div>

					<div class="form-group row">
						<label for="sc_shelf" class="col-sm-4 col-form-label">Shelf: </label>
						<div class="col-sm-8">
							<input type="text" name="sc_shelf" id="sc_shelf" placeholder="99">
						</div>
					</div>
				
					<div class="inner-div">
						<input type="button" class="btn btn-primary" value="Filter" onclick=addData() >
						<input type="button" class="btn btn-primary" value="Clear Filters" onclick=clearFilters() >
					</div>
				</form>
			</div>

	    </div>
	    
	    <!-- Upper Right Quadrant: Special Component Results -->
	    <div class="col-8">

	    	{% for site in sites %}

	    		<div><b>Site {{site.site_id}}</b>: {{site.site_address}}</div>

	    		{% set rowloop = loop %}

	    		{% for employee in employees%}
						
						{% if employee.employee_group == "supervisor" %}
						<p>{{ rowloop.index }}</p>
							<p>Supervisor: {{employee.employee_first_name}} {{employee.employee_last_name}}</p>
						{% endif %}
			
				{% endfor %}
						<p>Production Staff</p>
				{% for employee in employees %}
						
						{% if employee.group != supervisor %}
							<p>{{employee.employee_first_name}} {{employee.employee_last_name}}</p>
						{% endif %}
			
				{% endfor %}

			{% endfor %}
	    
	    </div>

	  </div>

</div>
{% endblock %}