<!-- Links to 'base_logged_in.html' as a base template file (which inherits from the base.html) -->
{% extends 'base_logged_in.html' %}

<!-- Title of the page -->
{% block title %} Work Order Details{% endblock%}


{% block body %} 

<div class='intro-div'>
	<div class="two-column">
		<div class="information">
			<h3>Manage Work Order Details</h3>
			<h5 class="access-level">This page requires supervisor-level access permission.</h5>
			<p>Manage (View, Add, Edit and Delete) products in a Work Order</p>
			<button type="button" class="btn btn-light" onclick=go_back()>Back to Work Orders</button>
		</div>

		<div class="process-overview">
			<p>Work Order Process Overview</p>
			<ul class="list-group">
				<li class="list-group-item " >1. Work Order</li>
				<li class="list-group-item active" aria-current="true">2. Products list</li>
				<li class="list-group-item">3. Components list</li>
			</ul>
		</div>
	</div>
</div>


<!-- add new form -->


<div class='intro-div'>
	<div class="two-column">
		<div id="data-entry-div">
			<h3>Update Products in Work Order <b>{{wo_id}} </b></h3>
			<h4>Add a New Product</h4>
			<p>Add new product to this order. You will be redirecterd to
				a new page to enter components information for the new product</p>
		
			<form id="product-data-entry" action="">
				<div class="inner-div">
					<label for="product_family">Product Family:</label>
					<select class="custom-select" id="product_family" required>
						<option selected>Select Family:</option>
						{% for product in products_catalog %}
							<option>{{product}}</option>
						{% endfor %}
					</select>
					
					<label for="product_pn">Product PN:</label>
					<select class="custom-select" id="product_pn">
						<option selected>Select Family First:</option>
						{% for product in products_catalog %}
							<option>{{product}}</option>
						{% endfor %}
					</select>
				</div>
		
				<div class="inner-div">
					<input type="button" class="btn btn-success" value="Add New Product" onclick=add_new_product({{workorder_information.wo_id}},{{workorder_information.wo_employee_id}}) >
				</div>
			</form>
		</div>

		<div class="information">
			<h3>Open Another Work Order</h3>
			<p>Open the product list of another Work Order using the form below:</p>

			<div class="inner-div">
				<form action="">
					<label for="wo_id">Work Order ID:</label>
					<input type="text" name="wo_id" id="wo_id_reload" placeholder="wo_id">

					<input type="button" class="btn btn-success" value="Refresh" onclick=reload_workorder()>
					
				</form>				
			</div>
			
			<p> Not all WO have products: Try 845236 or 879845 </p>
		</div>

	</div>
</div>



<!-- dummy content for demo --will be replaced -->
<div id="results">

	<div>
		<h4>Work order information</h4>
		<!-- <p>{{workorder_information}}</p> -->
		<p><b>Work Order id:</b> {{workorder_information.wo_id}}</p>
		<p><b>Open Date:</b> {{workorder_information.wo_open_date}} </p>
		<p><b>Employee in Charge:</b> {{workorder_information.wo_employee_full_name}} </p>
		<!-- <p>{{products}}</p> -->
	
	</div>

	<table class="table table-striped" >
		<tr>
			<th>Serial Number</th>
			<th>Family</th>
            <th>Part Number</th>
            <th>Status</th>
			<th>Assembly Date</th>
			<th>QC Date</th>
            <th>Warranty Date</th>
            <!-- <th>Employee</th> -->
            <th>Location</th>
            <th>Special Comp. SN</th>
			<th>Components</th>
			<th>Edit</th>
			<th>Delete</th>
			
			{% for product in products %}
				<tr>
					<td>{{product.product_sn}}</td>
					<td>{{product.product_family}}</td>
					<td>{{product.product_pn}}</td>
					<td>{{product.product_status}}</td>
					<td>{{product.product_date_assembly}}</td>
					<td>{{product.product_qc_date}}</td>
					<td>{{product.product_warranty_expiration_date}}</td>
					<!-- <td>{{product.product_employee_id}}</td> -->
					<td>{{product.product_location_id}}</td>
					<td>{{product.product_sc_sn}}</td>
					<td><button class="btn btn-secondary" onclick=components_info("{{product.product_sn}}")>info</button></td>
					
					<!-- Edit workorderdetails Modal Data -->
					<td><button class="btn btn-warning"
						data-toggle="modal"
						data-target="#editWorkOrderDetails"
						data-product-sn="{{product.product_sn}}"
						data-product_family="{{product.product_family}}"
						data-product_pn="{{product.product_pn}}"
						data-product_date_assembly="{{product.product_date_assembly}}"
						data-product_qc_date="{{product.product_qc_date}}"
						data-product_warranty_expiration_date="{{product.product_warranty_expiration_date}}"
						data-product_location_id="{{product.product_location_id}}">Edit</button>
					</td>
					
					<!-- Delete workorderdetails Modal Data -->	
					<td><button class="btn btn-danger"
						data-toggle="modal"
						data-target="#deleteWorkOrderDetails"
						data-product_sn="{{product.product_sn}}">Delete</button>
					</td>
				</tr>
			{% endfor %}
			
			
		
		
	</table>
	
</div>


<!-- Modal popup for details Edit feature -->
<div id="editWorkOrderDetails" class="modal fade" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<form id="update-work-order">
				<div class="modal-header">
					<h5 class="modal-title">Edit Details for Product Serial Number <span id="edit_WorkOrderDetails_title"> </span></h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">

					 <input type="hidden" id="product_sn_to_edit" name="wo_id_to_edit" value="">                    	

					<div class="form-group p-1">
						<label class="control-label" >Product Family:</label>
						<select class="custom-select" id="product_family_to_edit" required>
							{% for product in products_catalog %}
								<option>{{product}}</option>
							{% endfor %}
						</select>
					</div>  

					<div class="form-group p-1">
						<label class="control-label" >Product Part Number:</label>
						<select id="product_pn_to_edit" name="product_pn_to_edit">
								<option value="Basic-i3">Basic i3</option>
								<option value="Basic-i5">Basic i5</option>
								<option value="Basic-i7">Basic i7</option>
								<option value="Pro-i3">Pro i3</option>
								<option value="Pro-i5">Pro i5</option>
								<option value="Pro-i7">Pro i7</option>
						</select>
					</div> 

					<!-- <div class="form-group p-1">
						<label class="control-label" >Status:</label>
						<select class="custom-select" id="product_status_to_edit" required>
							{% for status in workorder_status %}
								<option>{{status.value}}</option>
							{% endfor %}
						</select>
					</div> -->

					<div class="form-group p-1">
						<label class="control-label" >Assembly Date:</label>
						<input type="date" id="product_assembly_date_to_edit" name="product_assembly_date_to_edit" class="form-control" placeholder="" required>
					</div> 

					<div class="form-group p-1">
						<label class="control-label" >QC Date:</label>
						<input type="date" id="product_qc_date_to_edit" name="product_qc_date_to_edit" class="form-control" placeholder="" required>
					</div> 

					<div class="form-group p-1">
						<label class="control-label" >Warranty Expiration Date:</label>
						<input type="date" id="product_warranty_date_to_edit" name="product_warranty_date_to_edit" class="form-control" placeholder="" required>
					</div> 

					
					<div class="form-group p-1">
						<label class="control-label" >Product Location:</label>
						<select class="custom-select" id="product_location_to_edit" required>
							{% for location in locations %}
								<option value="{{location.location_id}}">Room {{location.location_room_number}}, Shelf {{location.location_shelf_number}}</option>
							{% endfor %}
						</select>
					</div>

					<p>In order to update Special Component SN, please click on info</p>
						
				</div>

				


				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-warning" id="btnUpdate" name="btnUpdate" data-dismiss="modal" aria-label="Close" onclick=edit_workorder_details()>Update</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- Modal popup for Workorder Delete feature -->
<div id="deleteWorkOrderDetails" class="modal fade" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<form id="update-work-order">
				<div class="modal-header">
					<h5 class="modal-title">Delete Product: Serial Number <span id="delete_WorkOrderDetails_title"></span>?</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">

					 <h2>Warning</h2>
					 <p>Deleting this product from the work order will:</p>
					 <ul>
					 	<li>Return all Special Components used in this Product to the inventory, and mark them as free to be used in other products</li>
					 	<li>Return all Regular Components used in this Product to the inventory</li>
					 </ul>

					 <p>Are you sure you want to delete this product?</p>


				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">No/Cancel</button>
					<button type="button" class="btn btn-danger" id="btnUpdate" name="btnUpdate" data-dismiss="modal" aria-label="Close" onclick=delete_workorder_details()>Yes/Delete</button>
				</div>
			</form>
		</div>
	</div>
</div>


<!-- Connect to jquery (first) in order to open modals -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<script src="{{ url_for('static', filename='js/wo-details.js') }}"></script>

{% endblock%}



